// === COINS ===
.coins {
  background-color: $color-white;

  // .coins__container
  &__container {
    padding-top: 178px;
    padding-bottom: 60px;

    // MEDIA
    @include tablet(max) {
      padding-top: 70px;
      padding-bottom: 25px;
    }
  }

  // .coins__title
  &__title {
    margin: 0 0 var(--primary-indent);
  }

  // .coins__descr
  &__descr {
    margin: 0 0 64px;

    // MEDIA
    @include tablet(max) {
      margin-bottom: 35px;
    }
  }

  // .coins-other
  &-other {
    display: inline-block;
    border: 1px dashed currentColor;
    border-radius: var(--secondary-radius);
    padding: 8px 17px;
    font-weight: 500;
    text-align: center;
    color: $color-dusty-gray;
    transition: color var(--primary-animation);

    // >>> .coins-other:hover
    // >>> .coins-other:focus
    &:hover,
    &:focus {
      color: $color-governor-bay;
    }
  }

  // MEDIA
  @include minitablet(min) {
    .centered {
      display: none;
    }
  }

  // MEDIA
  @include minitablet(max) {
    .centered {
      margin-top: 43px;
    }
  }
}

// === COINS-LIST ===
.coins-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--coins-card), 1fr));
  align-items: center;
  gap: 47px 20px;

  @include minitablet(max) {
    row-gap: 24px;

    // .coins-list__item
    &__item {
      // .coins-list__item:not(:nth-of-type(-n+10))
      &:not(:nth-of-type(-n+10)) {
        display: none;
      }
    }
  }
}

// === COINS-CARD ===
.coins-card {
  display: flex;
  align-items: center;
  gap: 8px;

  // .coins-card__image
  &__image {
    width: var(--coins-card-image);
    height: var(--coins-card-image);
    object-fit: cover;
    transition: transform var(--primary-animation);
  }

  // .coins-card__abbr
  &__abbr {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: $color-ebony-clay;
    transition: color var(--primary-animation);
  }

  // .coins-card__name
  &__name {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $color-dusty-gray;
    transition: color var(--primary-animation);
  }

  // >>> .coins-card:hover
  // >>> .coins-card:focus
  &:hover,
  &:focus {
    .coins-card__image {
      transform: rotate(360deg);
    }

    .coins-card__abbr,
    .coins-card__name {
      color: $color-governor-bay;
    }
  }

  // MEDIA
  @include minitablet(max) {
    display: grid;
    grid-template-columns: var(--coins-card-image) 1fr;
    grid-template-areas:
      "image abbr"
      "image name";
    gap: 0 8px;

    // .coins-card__image
    &__image {
      grid-area: image;
      width: var(--coins-card-image);
      height: var(--coins-card-image);
    }

    // .coins-card__abbr
    &__abbr {
      grid-area: abbr;
      margin-bottom: 2px;
    }

    // .coins-card__name
    &__name {
      grid-area: name;
    }
  }
}
