// === CONTACTS ===
.contacts {
  background-color: $color-white;

  // .contacts__container
  &__container {
    padding-top: 53px;
    padding-bottom: 50px;
  }

  // .contacts__title
  // .contacts__descr
  &__title,
  &__descr {
    margin: 0 0 var(--primary-indent);
  }

  // MEDIA
  @include tablet(min) {
    // .contacts__container
    &__container {
      display: grid;
      grid-template-columns: 1fr 542px;
      grid-template-areas:
        ". title"
        "workers descr"
        "workers form";
      column-gap: 104px;
    }

    // .contacts__title
    &__title {
      grid-area: title;
    }

    // .contacts__descr
    &__descr {
      grid-area: descr;
    }
  }

  // MEDIA
  @include tablet(max) {
    // .contacts__container
    &__container {
      padding-top: 42px;
      padding-bottom: 15px;
    }
  }
}

// === CONTACTS-PERSON-SOCIAL ===
.contacts-person-social {
  z-index: 10;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px 12px;
  border-radius: var(--secondary-radius);
  padding: 8px 16px;
  background-color: $color-tundora-rgba;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity var(--primary-animation),
    visibility var(--primary-animation);

  // .contacts-person-social__link
  &__link {
    display: block;

    svg {
      display: block;
      width: 20px;
      height: 20px;
      fill: $color-white;
      object-fit: cover;
      transition: fill var(--primary-animation);
    }

    // >>> .contacts-person-social__link:hover
    &:hover {
      svg {
        fill: $color-dusty-gray;
      }
    }
  }
}

// === CONTACTS-PERSON ===
.contacts-person {
  position: relative;
  display: inline-block;

  // .contacts-person__image
  &__image {
    overflow: hidden;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: var(--secondary-radius);
    padding: 16px;
    width: var(--contacts-person);
    height: var(--contacts-person);
    background-color: $color-white;

    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    // .contacts-person__image:hover
    &:hover {
      .contacts-person-social {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

// === CONTACTS-PERSON-INFO ===
.contacts-person-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: var(--secondary-radius);
  box-shadow: 0px 2px 7px rgba(56, 57, 77, 0.1);
  padding: 32px;
  width: var(--contacts-person);
  height: var(--contacts-person);
  background-color: $color-white;

  // .contacts-person-info__name
  &__name {
    margin: 0 0 6px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $color-ebony-clay;
  }

  // .contacts-person-info__position
  &__position {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-dusty-gray;
  }
}

// === CONTACTS-WORKERS ===
.contacts-workers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 20px;
  padding: 15px 0 var(--primary-indent);

  // .contacts-workers__item
  &__item {
    // .contacts-workers__item:nth-of-type(odd)
    &:nth-of-type(odd) {
      .contacts-person {
        // .contacts-person__image
        &__image {
          position: absolute;
          top: 0;
          left: 0;
        }

         // .contacts-person-info
        &-info {
          margin: 104px 0 0 64px;
        }
      }
    }

    // .contacts-workers__item:nth-of-type(even)
    &:nth-of-type(even) {
      .contacts-person {
         // .contacts-person__image
        &__image {
          margin: 104px 0 0 64px;
        }

         // .contacts-person-info
        &-info {
          position: absolute;
          top: 0;
          left: 0;
          justify-content: flex-start;
        }
      }
    }

    // MEDIA
    @include tablet(max) {
      // .contacts-workers__item:nth-of-type(odd)
      &:nth-of-type(odd) {
        .contacts-person {
          // .contacts-person-info
          &-info {
            margin: 130px 0 0 50px;
          }
        }
      }

      // .contacts-workers__item:nth-of-type(even)
      &:nth-of-type(even) {
        .contacts-person {
          // .contacts-person__image
          &__image {
            margin: 130px 0 0 50px;
          }
        }
      }
    }
  }

  // MEDIA
  @include tablet(min) {
    grid-area: workers;
  }

  // MEDIA
  @include tablet(max) {
    justify-content: center;
    padding-top: 8px;
  }
}

// === CONTACTS-FORM ===
.contacts-form {
  display: flex;
  flex-direction: column;

  // .contacts-form__items
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 0;
    margin-bottom: 10px;

    > * {
      grid-column: 2 span;
    }
  }

  .btn {
    align-self: center;
    margin-top: 45px;
  }

  // MEDIA
  @include tablet(min) {
    grid-area: form;

    // .contacts-form__item
    &__items {
      gap: 24px 48px;

      .form-field {
        // .form-field:nth-child(3)
        &:nth-child(3) {
          grid-column: 1;
        }

        // .form-field:nth-child(4)
        &:nth-child(4) {
          grid-column: 2;
          margin-top: 40px;
        }
      }
    }

    .btn {
      align-self: flex-start;
      margin-top: 33px;
    }
  }
}
