// === HEADER ===
.header {
  background-color: $color-ebony-clay;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  // .header__container
  &__container {
    display: flex;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 22px;
  }

  // .header__nav
  &__nav {
    margin-left: 20px;

    .btn-menu {
      display: none;
    }

    // MEDIA
    @include minidesktop(min) {
      margin: 5px 0 0 165px;
    }
  }

  // .header__btns
  &__btns {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;

    .btn {
      min-width: 124px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  // MEDIA
  @include tablet(max) {
    border-bottom: initial;

    // .header__container
    &__container {
      padding: 18px;
    }

    // .header__nav
    &__nav {
      order: -1;
      margin-left: 0;

      .btn-menu {
        display: flex;
        margin-right: 23px;

        // >>> .btn-menu--active
        &--active {
          position: relative;
          z-index: 100;
        }
      }
    }

    // .header__btns
    &__btns {
      .btn {
        min-width: auto;

        // .btn:not(:first-child)
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }
}

// === HEADER-MENU ===
.header-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;

  // .header-menu__item
  &__item {
    // .header-menu__item:not(:last-child)
    &:not(:last-child) {
      margin-right: 33px;
    }
  }

  // .header-menu__link
  &__link {
    color: $color-dusty-gray;
  }

  // MEDIA
  @include tablet(max) {
    overflow-y: auto;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0;
    padding: 40px 80px;
    width: 100%;
    height: 100vh;
    background-color: $color-ebony-clay;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition:
      opacity var(--primary-animation),
      visibility var(--primary-animation),
      transform var(--primary-animation);

    // .header-menu__item
    &__item {
      // .header-menu__item:not(:last-child)
      &:not(:last-child) {
        margin: 0 0 24px;
      }
    }

    // .header-menu__link
    &__link {
      font-size: 26px;
      line-height: 34px;
      color: $color-white;
    }

    // >>> .header-menu--visible
    &--visible {
      opacity: 1;
      visibility: visible;
      transform: translateX(0%);
    }
  }
}
