// === OFFER ===
.offer {
  background-color: $color-white;

  &__container {
    padding-top: 25px;
    padding-bottom: 103px;
  }

  &-item {
    overflow: hidden;
    position: relative;
    border-radius: var(--secondary-radius);
    padding: 60px 60px 78px;
    background-color: $color-ebony-clay;

    &__image {
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translateY(-43%);
    }

    &__content {
      position: relative;
      z-index: 5;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 485px;
    }

    &__title,
    &__descr {
      margin: 0 0 var(--primary-indent);
      color: $color-white;
    }
  }

  @include minitablet(max) {
    &__container {
      padding: 0 0 60px;
    }

    &-item {
      border-radius: 0;
      padding: 24px 23px 26px;

      &__image {
        max-width: 443px;
        left: auto;
        right: -22%;
        transform: translateY(-38%);
      }
    }
  }

  @include mobile(max) {
    &-item {
      &__image {
        left: auto;
        right: -22%;
        transform: translateY(-38%);
      }

      &__content {
        max-width: 100%;
      }

      &__descr {
        margin-bottom: 180px;
      }
    }

    .btn {
      align-self: center;
    }
  }
}
