// === QUESTIONS ===
.questions {
  background-color: $color-white;

  // .questions__container
  &__container {
    padding-top: 56px;
    padding-bottom: 100px;
  }

  // .questions__title
  &__title {
    margin: 0 0 40px;
  }

  @include tablet(max) {
    // .questions__container
    &__container {
      padding-top: 37px;
      padding-bottom: 60px;
    }

    // .questions__title
    &__title {
      margin-bottom: 25px;
    }
  }
}

// .QUESTIONS-LIST
.questions-list {
  // .questions-list__item
  &__item {
    // .questions-list__item:not(:last-child)
    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }

  // MEDIA
  @include tablet(max) {
    padding-left: 12px;
    padding-right: 12px;

    // .questions-list__item
    &__item {
      // .questions-list__item:not(:last-child)
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
