// === QUESTIONS ===
.questions {
  background-color: $color-white;

  &__container {
    padding-top: 56px;
    padding-bottom: 100px;
  }

  &__title {
    margin: 0 0 40px;
  }

  &-list__item:not(:last-child) {
    margin-bottom: 21px;
  }

  @include tablet(max) {
    &__container {
      padding-top: 37px;
      padding-bottom: 60px;
    }

    &__title {
      margin-bottom: 25px;
    }

    &-list {
      padding: 0 11px;

      &__item:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

// === ACCORDION ===
.accordion {
  $accordion: &;

  display: block;
  box-shadow: 0 4px 11px rgba(56, 57, 77, 0.1);
  border-radius: var(--secondary-radius);
  padding: 46px 40px;
  background-color: $color-white;
  transition: background-color var(--primary-animation);
  cursor: pointer;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      position: relative;
      margin: 0;
      padding-left: 72px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        width: 48px;
        height: 48px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: translateY(-50%);
      }

      &--liquidity::before {
        background-image: url("../images/icons/liquidity.svg");
      }

      &--status::before {
        background-image: url("../images/icons/status.svg");
      }

      &--team::before {
        background-image: url("../images/icons/team.svg");
      }

      &--roadmap::before {
        background-image: url("../images/icons/roadmap.svg");
      }

      &--legal::before {
        background-image: url("../images/icons/legal.svg");
      }

      &--security::before {
        background-image: url("../images/icons/security.svg");
      }
    }

    &__icon {
      position: relative;
      display: inline-block;
      width: 36px;
      height: 36px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 21px;
        height: 2px;
        background-color: $color-scarpa-flow;
        transform: translate(-50%, -50%);
        transition: transform var(--primary-animation);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  &-body {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition:
      margin-top var(--primary-animation),
      max-height var(--primary-animation),
      opacity var(--primary-animation),
      visibility var(--primary-animation);

    p {
      margin: 0;
    }
  }

  // >>> opened
  &--opened {
    padding-bottom: 40px;
    background-color: #fafafa;

    #{$accordion} {
      &-header__icon::after {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }

    #{$accordion}-body {
      margin-top: 45px;
      max-height: 100%;
      opacity: 1;
      visibility: visible;
    }
  }

  @include tablet(max) {
    padding: 19px 12px 19px 16px;

    &-header__title {
      padding-left: 50px;

      &::before {
        width: 38px;
        height: 38px;
      }
    }

    // >>> opened
    &--opened {
      #{$accordion}-body {
        margin-top: 16px;
      }
    }
  }
}
